<% @store_lists.each do |store_list| %>
<div class="index_row clearfix">
  <h2 class="store_list_title"><%= link_to store_list.title, store_list %></h2>
  <p class="store_list_sub_title"><%= store_list.description %></p>
</div>
<% end %>
<div class="links">
  <%= link_to "New Store List", new_store_list_path %>
</div>
